.artikel-section {
    margin-left: 24em;
    margin-top: 3em;
    margin-right: 4em;
    margin-bottom: 5em;
}

.artikel-section h2 {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.artikel-section img {
    width: 220px; height: 150px;
    border-radius: 10px;
    margin-right: 30px;
}

.artikel-content {
    padding-right: 30px;
}

.artikel-content h4 {
    color: var(--p-color);
    margin: 0.4em 0;
}

.artikel-content p {
    line-height: 2em;
}

.aslkfnpo {
    width: 82%;
}

.artikel-readmore a {
    color: var(--base-color);
    text-decoration: underline;
}

/* artikel-detail.html */
.artikel-isi {
    margin-left: 24em;
    margin-top: 2em;
    margin-bottom: 4em;
    margin-right: 5em;
    
}

.back {
    /* Safety net */
    width: 52px;
}

.artikel-isi .article-gambar{
    width: 100%;
    height: 25em;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-image: url(../Img/article-pompom.png);
}

.icon-article i{
    margin-top: 1em;
    color: var(--base-color);
    font-size: 1.5em;
}

.buat-flex-lagi-beneran{
    display: flex;
}

.article-beneran p{
    color: var(--base-color);
    margin-top: 1.38em;
    margin-left: 1em;
}

.article-beneran h1{
    margin-left: -1em;
    margin-top: 0.5em;
}

.author img{
    width: 5.5em;
    height: 5em;
    margin-top: 3em;
    border-radius: 100%;
    margin-left: 2.5em;
}

.author h3{
    margin-left: 1em;
    margin-top: 0.5em;
}

.icon-author i{
    margin-left: 1em;
    font-size: 1.2em;
    margin-top: 1em;
}

.akun-author p{
    margin-top: 1em;
    margin-left: 0.5em;
}

.akun-author a{
    color: #A5A5A5;
}

.hehehe{
    display: flex;
}

.disclaimer p{
    font-size: 1em;
    margin-left: 3em;
    margin-top: 2em;
}

.paragraf-satyu{
    margin-left: 3em;
    text-align: justify;
    line-height: 2em;
    margin-top: 1em;
}
.paragraf-duwa{
    margin-left: -9.4em;
    text-align: justify;
    line-height: 2em;
    margin-top: 2em;
}

.kotak-doang{
    width: 100%;
    height: 0.26em;
    background-color: whitesmoke;
    margin-left: 0.5em;
    margin-top: 1em;
}

blockquote{
	font-size: 1rem;
	padding: 1rem 2.8rem;
	line-height: 1.6;
	font-weight: 300;
	box-shadow: inset 0.5rem 0 0 var(--base-color);
	background-color: #f5f5f5;
    margin-left: -9.2em;
}

.tags{
	display: flex;
	align-items: center;
}

.tags p{
	font-size: 1rem;
	text-transform: capitalize;
    margin-left: -9em;
}

.tags a{
	display: inline-block;
	padding: 0.3rem 1.5rem;
	background-color: #f5f5f5;
	color: #5b5963;
	font-size: 1em;
	text-transform: capitalize;
    margin-top: 1.8em;
    margin-left: 1em;
}

.disclaimer h3{
    margin-top: 2.2em;
    margin-left: 13em;
}

.article-lainnya{
    width: 33%;
    height: 25em;
    background-color: whitesmoke;
    margin-left: -9em;
    margin-top: 2em;
    border-radius: 2%;
}

.article-lainnya2{
    width: 35%;
    height: 25em;
    background-color: whitesmoke;
    margin-left: 1.9em;
    margin-top: 2em;
    border-radius: 2%;
}

.article-lainnya3{
    width: 40%;
    height: 25em;
    background-color: whitesmoke;
    margin-left: 1.9em;
    margin-top: 2em;
    border-radius: 2%;
}

.article-lainnya img{
    width: 100%;
    height: 13em;
}

.article-lainnya2 img{
    width: 100%;
    height: 13em;
}

.article-lainnya3 img{
    width: 100%;
    height: 13em;
}

.icon-article-beneran i{
    color: var(--base-color);
    margin-left: 1em;
    font-size: 1.2em;
    margin-top: 0.7em;
}

.somethingnya-article{
    color: var(--base-color);
    margin-top: 0.6em;
    margin-left: 1em;
}

.article-lainnya h4{
    margin-left: 1.5em;
    margin-top: 0.4em;
}

.article-lainnya2 h4{
    margin-left: 1.5em;
    margin-top: 0.4em;
}

.article-lainnya3 h4{
    margin-left: 1.5em;
    margin-top: 0.4em;
}

.read-article a{
    margin-left: 1.5em;
    margin-top: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    /* font-size: 0.8em; */
}

.article-panah i{
    font-size: 1.4em;
    margin-top: 1.1em;
    margin-left: 0.5em;
}