.consult-body {
    margin-left: 24em;
    margin-top: 2em;
    margin-bottom: 3em;
    width: 70%;
}

.therapy-body {
    margin-left: 24em;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 70%;
}


.jnhuf {
    height: auto;
}

.jniur {
    width: 90%;
}

.article-lainnya{
    width: 25%;
    background-color: whitesmoke;
    border-radius: 2%;
    margin-right: 1em;
    padding-bottom: 2em;
    cursor: pointer;
}

.article-lainnya img{
    width: 100%;
    height: 13em;
    object-fit: contain;
    background-color: var(--base-color);
    border-radius: 10px;
}

.icon-article-beneran i{
    color: var(--base-color);
    margin-left: 1em;
    font-size: 1.2em;
    margin-top: 0.7em;
}

.article-lainnya h4{
    margin-left: 1em;
    margin-right: 0.7em;
    margin-top: 0.4em;
}

.article-lainnya .flex {
    margin-left: 1.5em;
}

.article-lainnya .rating {
    margin-top: 0.2em;
}

.artikel-readmore {
    margin-top: 1em;
    color: var(--base-color);
}

.artikel-readmore a {
    color: var(--base-color);
}

.chat-profile {
    margin: 1.5em 1em;
    cursor: pointer;
}

.chat-profile img {
    width: 70px; height: 70px;
    border-radius: 50%;
    margin-right: 1.2em;
    object-fit: contain;
    background-color: var(--base-color);
}

.chat aside {
    width: 40%;
    padding: 1em;
}

.chat aside h2 {
    margin-bottom: 1em;
}

.chat aside h2 {
    font-size: 1.4em;
}

.chat aside .chat-profile {
    margin: 0;
    margin-bottom: 1.3em;
    cursor: pointer;
}

.chat aside .chat-profile img {
    border: 2px solid #d9d9d9;
    width: 60px; height: 60px;
    margin-right: 1.4em;
    object-fit: cover;
}

/* CONSULT */

.consult-isi {
    width:55%;
}

.consult-isi b {
    color: var(--base-color);
}

.consult-isi img {
    border-radius: 50%;
    background-color: var(--base-color);
    width: 100px; height: 100px;
    object-fit: contain;
    margin-right: 1.5em;
}

.pasien, .exp, .consult-isi .rate {
    text-align: center;
}

h3 {
    margin: 1em 0;
}

.divider-vert {
    margin: 0 2em;
}

.profil-dok span {
    margin: 1em 0;
}

.consult-isi iframe {
    width: 100%;
    height: 150px;
}

/* THERAPY */
.therapy-body .article-lainnya img {
    object-fit: cover;
}

.therapy-body .article-lainnya {
    width: 30%;
}

.therapy-body aside {
    width: 40%;
}

.terapi-button {
    width: 100%;
    color: white;
    background-color: #1E2A4D;
    margin-bottom: 1em;
    padding: 1.5em;
    cursor: pointer;
    border-radius: 8px;
}

.terapi-button i {
    font-size: 1.5em;
}

.terapi-button .flex-c-sb .flex i {
    margin-right: 1em;
}

.jadwal-terapi {
    width: 100%;
}

.jadwal-terapi p {
    color: black;
}

.jadwal-img img {
    width: 200px; height: 150px;
    object-fit: contain;
    margin-right: 1em;
    cursor: pointer;
}

.jadwal-top {
    margin-left: 13.5em;
}

#jadwal-title {
    width: 12.75em;
}

#jadwal-date {
    width: 14em;
}

.jadwal-list i {
    color: var(--base-color);
    font-size: 2em;
    cursor: pointer;
    margin-left: 1.2em;
}

.jadwal-list b {
    width: 12.75em;
    cursor: pointer;
}

.jadwal-list p {
    width: 14em;
    font-weight: 500;
}

/* TERAPI DIY & KLINIK TERAPI */
.therapy-body iframe {
    height: 331px;
}

.therapy-body aside img {
    width: 150px;
    height: 120px;
}

.clinic-img img{
    width: 100%;
    border-radius: 0;
    height: 332px;
    object-fit: cover;
}

.therapy-body aside .comment-section img {
    border-radius: 50%;
    border: 2px solid #919191;
    height: 80px; width: 80px;
}

.comment {
    margin-top: 0.5em;
    padding: 1em;
    border: 2px solid #919191;
    border-radius: 10px 10px 10px 0;
    max-width: 22em;
}