*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    display: flex;
    margin-top: 2em;
    margin-left: 7em;
}

.EduSpot-Logo a{
    color: #00A9FF;
}

.EduSpot-Menu{
    margin-left: 45em;
}

.EduSpot-Menu ul{
    display: flex;
}

.EduSpot-Menu a{
    color: black;
}

.EduSpot-Menu li{
    margin-top: 0.5em;
    padding-right: 2em;
}

.Eduspot-Logo a{
    color: #00A9FF;
}

.btnLogin{
    border: 2px solid #00A9FF;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.5em;
}

.btnLogin:hover{
    background-color: #00A9FF;
    color: white;
    transition: 0.5s;
}
