:root{
    --base-color: #00A9FF;
    --p-color: #919191;
    --nav-bg: #e8e8e8;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Template CSS */
.center {
    display: flex;
    justify-content: center;
}
.flex {
    display: flex;
}
.flex-c-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-c-vert {
    display: flex;
    align-items: center;
}
.center-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    color: black;
}
p {
    color: var(--p-color);
}
button {
    cursor: pointer;
}
.active {
    background-color: white;
    padding: 1em;
    border-radius: 8px;
}
.active a {
    color: var(--base-color) !important;
}
.divider {
    height: 2px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.divider-vert {
    width: 2px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.back {
    font-size: 1.75em;
    border: 2px solid #D9D9D9;
    padding: 10px;
    border-radius: 50%;
    width: 52px; height: 52px;
    cursor: pointer;
}
.back i {
    font-size: 1.25em;
}

.rating i {
    color: #fab632;
}

/* Header */
header{
    background-color: var(--nav-bg);
    position: fixed;
    padding: 5rem 6%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
.EduSpot-Logo {
    text-align: center;
    margin-bottom: 3em;
}
.EduSpot-Logo a{
    color: var(--base-color);
}

.EduSpot-Menu a{
    color: black;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

.EduSpot-Menu a:hover, .EduSpot-Menu a:focus,
.Footer-Links a:hover {
    color: var(--base-color);
}

.EduSpot-Menu li{
    margin: 2em 0;
}

.EduSpot-Menu i {
    font-size: 1.5em;
    margin-right: 0.5em;
}

.Eduspot-Logo a{
    color: var(--base-color);
}

.btnLogin{
    border: 1px solid #00A9FF;
    background-color: white;
    padding: 0.7em 2em;
    border-radius: 0.5em;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btnLogin:hover{
    background-color: var(--base-color);
    color: white !important;
}
.btnSubmit {
    width: 100%;
    font-size: 1em;
    background-color: var(--base-color);
    color: white;
    border: none;
    border-radius: 0.5em;
    padding: 12px 37px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.btnSubmit:hover {
    background-color: white;
    border: 2px solid var(--base-color);
    color: black !important;
    transform: none;
}

.pjqm{
    margin-left: 330px;   
}

.Topbar {
    margin: 2em 0;
}

.search-box {
    margin-left: 50px;
}

.search-box input{
    background-color: whitesmoke;
    border: none;
    padding: 1em;
    width: 100%;
    border-radius: 8px 0 0 8px;
}

.search-box i {
    padding: 1em;
    color: white;
    background-color: var(--base-color);
    cursor: pointer;
    border-radius: 0 8px 8px 0;
}

.input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box .input-field {
    position: relative;
    width: 48%; height: 3em;
    margin: 1em 0;
}

.input-box .input-field input {
    width: 100%; height: 100%;
    background: transparent;
    border: 2.5px solid var(--base-color);
    outline: none;
    font-size: 1em;
    border-radius: 6px;
    padding: 1em; 
}

.input-box .input-field input::placeholder {
    color: var(--p-color);
}

.input-box .input-field i {
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4em;
    color: var(--base-color);
}

.nhcef h1{
    margin-left: 16em;
}

.jnhuf{
    width: 70%;
    height: 15em;
    background-color: #00A9FF;
    margin-left: 24em;
    margin-top: 1em;
    border-radius: 10px;
}

.settings {
    margin-right: 75px;
}

.settings i {
    font-size: 1.5em;
    margin-right: 1.3em;
    cursor: pointer;
    color:  #a5a5a5
}

.settings img {
    width: 40px; height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.jniur h2{
    color: white;
    padding-left: 1em;
    font-size: 1.8em;
}

.jniur p{
    color: white;
    margin-left: 1.8em;
    margin-top: 0.5em;
}

.jnjs i{
    margin-left: 1em;
    font-size: 1.8em;
    background-color: white;
    padding: 0.3em;
    border-radius: 100%;
}

.jhidx p{
    color: white;
    margin-left: 1.3em;
}

.hjvd{
    margin-top: 2.5em;
}

.hjgn img{
    margin-left: 5em;
}

.home-cardlist {
    margin-left: 24em;
}

.home-card {
    width: 22.7%;
    margin-right: 10px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.unsplash.com/photo-1540479859555-17af45c78602?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    height: 9.8em;
    padding: 1em;
    color: white;
    background-size: cover;
    border-radius: 10px;
}
.home-card p {
    color: white;
}

#home-card1 {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7 )), url(../Img/home-card1.jpg);
    background-size: cover;
}

#home-card2 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6 )), url(../Img/konsultasi.jpg);
    background-size: cover;
}

#home-card3 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6 )), url(../Img/geming.jpg);
    background-size: cover;
}