.jnhuf-alt{
    width: 35.5%;
    height: 25em;
    border: 2px solid #00A9FF;
    margin-top: 1em;
    border-radius: 10px;
    margin-right: 50px;
    margin-left: 4em;
}

.jniur-alt h2{
    color: black;
    padding-left: 1.4em;
    font-size: 1.4em;
}

.jniur-alt p{
    color: black;
    margin-left: 1.8em;
    margin-top: 0.5em;
}

.btnSubmit {
    margin-top: 1.5em;
    margin-left: 1em;
}

.jniur-alt{
    margin-top: 1.5em;
    margin-left: 0em;
}

.bhjgvrv {
    margin-left: 21em;
}

.hjgn img {
    width: 70%;
}

.mjf h1{
    font-size: 2.25em;
}

.mjf p{
    font-size: 1.25em;
    margin-top: 1em;
    line-height: 1.8em;
}

.jbhgef{
    padding-top: 2em;
    margin-left: 25em;
}

.jhvhfh {
    margin-top: 3em;
    margin-right: 10em;
}

.noyefv{
    width: 25%;
    margin-left: 4em;
    background-color: whitesmoke;
    height: 23em;
    margin-top: 1.5em;
    border-radius: 4%;
}

.noyefv2{
    width: 25%;
    margin-left: 2em;
    background-color: whitesmoke;
    height: 23em;
    margin-top: 1.5em;
    border-radius: 4%;
}

.noyefv2 h4{
    margin-top: 9.5em;
    margin-left: 1.8em;
}

.noyefv2 p{
    margin-left: 1.7em;
    font-size: 1em;
    margin-top: 1em;
    line-height: 1.8em;
}

.noyefv2 a{
    margin-left: 1.7em;
    border: 1px solid #00A9FF;
    padding: 0.8em;
    border-radius: 7%;
}

.noyefv2 a:hover{
    background-color: #00A9FF;
    color: white;
    transition: 0.5s;
}

.noyefv h4{
    margin-top: 9.5em;
    margin-left: 1.8em;
}

.noyefv p{
    margin-left: 1.7em;
    font-size: 1em;
    margin-top: 1em;
    line-height: 1.8em;
}

.noyefv a{
    margin-left: 1.7em;
    border: 1px solid #00A9FF;
    padding: 0.8em;
    border-radius: 7%;
}

.noyefv a:hover{
    background-color: #00A9FF;
    color: white;
    transition: 0.5s;
}

.hguygrf h3{
    margin-left: 22em;
    margin-top: 2em;
}

.knniooh{
    width: 18%;
    height: 20em;
    background-color: whitesmoke;
    margin-left: 25em;
    margin-top: 2em;
    border-radius: 3%;
}

.judul h2{
    margin-left: 17em;
    margin-top: 2em;
}

